<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body style="padding: 10px 10px">
    <h3 style="text-align: center;">空闲教室</h3>
    <p style="text-align: center; padding-bottom: 20px; color: #586069">今日（{{ daytime }}）</p>
    {% for result in results %}
    <p>{{ result.tea }}空闲教室</p>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-4">节次</th>
            <th>空闲教室</th>
        </tr>
        </thead>
        <tbody>
        {% for classroom in result.classrooms %}
        <tr>
            <td>{{ classroom.time }}</td>
            <td style="color: #586069">{{ classroom.rooms }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</body>
</html>