<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <h3>今日（{{ timeofday }}）为学楼空闲教室</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-2">节次</th>
            <th>空闲教室</th>
        </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
        <tr>
            <th>{{ classroom.time }}</th>
            <td>{{ classroom.rooms }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>